@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --title-font: "IBM Plex Mono", monospace;
    --text-font: "Inter", sans-serif;
    --title-colour: #e0e0e0;
    --text-colour: #999999;
    --primary-accent: #00FFFF;

    --section-max-width: 60ch;
    --section-width: min(var(--section-max-width), 100%);
    --section-margin: calc(calc(100vw - var(--section-width)) // 2)
}

html {
    font-size: 16px;
}

html, body{
    height: 100%;
    background-color: #242424;
    background-size: cover;
}

body {
    min-height: auto;
    font-family: var(--text-font);
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: var(--text-colour);
}

/* top nav bar */
.main-nav {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav > div {
    display: flex;
}

.nav-link {
    color: var(--text-colour);
    text-align: right;
    text-decoration: none;
    font-size: 1rem;
    margin: 1.5rem 1rem 0rem 1rem;
}

.nav-link:hover {
    text-decoration: underline;
}

.nav-link.current {
    color: var(--primary-accent);
}

.nav-link.home {
    text-align: left;
}

/* main content */
.home-content {
    font-size: 1.25rem;
    font-weight: 400;
    max-width: var(--section-width);
    margin: 7rem auto;
}

.home-content > h1 {
    font-family: var(--title-font);
    font-size: 3.25rem;
    font-weight: 800;
    color: var(--title-colour);
}
